* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

button {
  font-family: inherit;
}

header {
  background-color: #131922;
  /* background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%); */
  color: #fff;
  text-align: center;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 90%;
  overflow-y: scroll;
}

.container .course-card {
  width: 100%;
}

.container .course {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid #bbb;
  /*   border-radius: 10px; */
  margin: 20px 0;
  position: relative;
}

.container .course input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: inherit;
}

.container .course input:focus {
  border: 1px solid #007ea7;
  border-radius: none;
  outline: none;
  padding: 10px;
}

.container .course select {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  font-family: inherit;
}

.container .course div {
  border: 1px solid #bbb;
}

.course-name {
  grid-column: span 3;
}

button.primary-btn {
  border: none;
  background-color: #2d4fc6;
  /* background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%); */
  padding: 1rem;
  color: #fff;
  margin: 10px 0;

  cursor: pointer;
  border-radius: 5px;
}

.primary-btn.calculate {
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn-action {
  border-radius: 50%;
  border: 1px solid #2d4fc6;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #2d4fc6;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.primary-btn:hover {
  background: #12607a;
}

.overlay-r {
  position: fixed;
  z-index: 222;
  top: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  transition: 0.3s ease;
  height: 100%;
  width: 100%;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  transform: translateY(200%);
  transition: 1s ease-in;
  border-radius: 5px;
}

.result-box .result {
  color: #007ea7;
}

.result-box .box-top {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3f3f3f;
}

.result-box .box-top h2 {
  font-size: 5rem;
}

.box-bottom {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  color: #fff;
  background-color: #131922;
}

.box-bottom p {
  padding: 1rem 0;
  font-size: 1rem;
}

.box-bottom .grid-line {
  border-left: 2px double #fff;
}
